
	<style>
	body {
		margin: <%= @margin %>;
		background-color: <%= @color%>;
	}
		.thumbnail{
		margin: 10px;
		width: 500px;
		height: 400px;
		}
		.color_box{
			width: 20px;
		    height: 20px;
		    margin: 5px;
		    border-width: 1px;
		    border-style: solid;
		    display: inline-block;
		}
	</style>
	<body>
		<h1> <%= @welcome %> </h1>
		<h3>Welcome to my Travel Site</h3>
		<p>This is my very awesome travel site.</p>
		<br/>
		<h3> Filter By Country </h3>
			<ul>
		  		<% @countries.each do |country| %>
		  			<li>
			      		<%= link_to country, custom_destination_path(country: country) %>
			      	</li>
	  			<% end %>
  			</ul>
		<br/>
		<br/>

		<h1> Staycation Pics </h1>
		<% @images.each do |picture| %>
			<%= image_tag picture, class: 'thumbnail'%>
		<% end %>
		<br/>
	
	</body>
	



